<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
</head>
    
   <body class="d-flex flex-column min-vh-100">

    <%- include('nav', navigation) %>


   <div class="container" id="datadonationheader">
    <div class="row">
        <div class="col-12">
            <h5 id="about_text"><strong><%= aboutText || 'Standardtext für Über uns' %></strong></h5>
            <p id="step3"><%= step3Text || 'Standardtext für Schritt 3' %></p>
        </div>
    </div>
</div>

<%- include('footer') %>

</body>
</html>
