<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
</head>
<body class="d-flex flex-column min-vh-100">

    <%- include('nav', navigation) %>
    
    <form action="/submit-demographics" method="POST">
        <div class="container" id="datadonationheader">
            <p><%= sex %>
                <label><input type="radio" name="gender" value="männlich"><%= sex_m %></label>
                <label><input type="radio" name="gender" value="weiblich"><%= sex_w %></label>
                <label><input type="radio" name="gender" value="divers"><%= sex_d %></label>
            </p>
            <p><%= origin %>
                <input type="text" name="country">
            </p>
            <p><%= graduation %>
                <select name="education">
                    <option value="abitur"><%= g_1 %></option>
                    <option value="fachabitur"><%= g_2 %></option>
                    <option value="hauptschulabschluss"><%= g_3 %></option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= age %>
                <input type="number" name="age">
            </p>
            <p><%= weight %>
                <select name="weight">
                    <option value="untergewichtig"><%= w_1 %></option>
                    <option value="normalgewichtig"><%= w_2 %></option>
                    <option value="übergewichtig"><%= w_3 %></option>
                    <option value="stark-übergewichtig"><%= w_4 %></option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= religious_affiliation %>
                <select name="religion">
                    <option value="christlich"><%= christianity %></option>
                    <option value="islamisch"><%= islam %></option>
                    <option value="jüdisch"><%= judaism %></option>
                    <option value="hinduistisch"><%= hinduism %></option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= profession %>
                <select name="employment_context">
                    <option value="im-studium"><%= study %></option>
                    <option value="in-ausbildung"><%= training %></option>
                    <option value="angestellt-vollzeit"><%= employed_full_time %></option>
                    <option value="angestellt-teilzeit"><%= employed_part_time %></option>
                    <option value="selbstständig"><%= self_employed %></option>
                    <option value="arbeitssuchend"><%= job_seeker %></option>
                    <option value="in-rente"><%= retired %></option>
                    <option value="hausarbeit-familienpflege"><%= family_care %></option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= working_hours %>
                <select name="working_hours" multiple>
                    <option value="schichtsystem-mit-nachtschicht"><%= shift_system_night %></option>
                    <option value="schichtsystem-ohne-nachtschichten"><%= shift_system_night %></option>
                    <option value="wochenende-oft-im-dienst"><%= shift_system_day %></option>
                    <option value="wochenende-meistens-frei"><%= free_WE_1 %></option>
                    <option value="wochenende-immer-frei"><%= free_WE_2 %></option>
                    <option value="flexible-arbeitszeiten"><%= flexible %></option>
                    <option value="unflexible-arbeitszeiten"><%= rigid %></option>
                    <option value="homeoffice"><%= homeoffice %></option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= way_to_work %>
                <select name="commute_mode" multiple>
                    <option value="autofahrt">Autofahrt</option>
                    <option value="fußweg">Fußweg</option>
                    <option value="fahrradfahrt">Fahrradfahrt</option>
                    <option value="öffentliche-verkehrsmittel">Öffentliche Verkehrsmittel (Bus, Bahn, Straßenbahn)</option>
                    <option value="motorradfahrt">Motorradfahrt</option>
                    <option value="mitfahrgelegenheit">Mitfahrgelegenheit</option>
                    <option value="telecommuting">Telecommuting (kein täglicher Weg zur Arbeit)</option>
                    <option value="sonstiges">Sonstiges (z. B. Homeoffice mit gelegentlichen Vor-Ort-Terminen)</option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= private_context %>
                <select name="personal_context">
                    <option value="partnerschaft-ohne-kind">In Partnerschaft ohne Kind/Kinder</option>
                    <option value="partnerschaft-mit-kind">In Partnerschaft mit Kind/Kindern</option>
                    <option value="alleinerziehend">Alleinerziehend mit Kind/Kindern</option>
                    <option value="single-ohne-kind">Single ohne Kind/Kinder</option>
                    <option value="getrennt-lebend-partnerschaft-kind">Getrennt lebend, aber in Partnerschaft mit Kind/Kindern</option>
                    <option value="getrennt-lebend-single-kind">Getrennt lebend, Single mit Kind/Kindern</option>
                    <option value="getrennt-lebend-single-ohne-kind">Getrennt lebend, Single ohne Kind/Kinder</option>
                    <option value="andere-familienkonstellation">Andere familiäre Konstellation (bitte angeben)</option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= available_time %>
                <select name="available_time">
                    <option value="mehr-als-3-stunden">Mehr als 3 Stunden pro Tag</option>
                    <option value="2-3-stunden">2-3 Stunden pro Tag</option>
                    <option value="1-2-stunden">1-2 Stunden pro Tag</option>
                    <option value="0-5-1-stunde">0,5-1 Stunde pro Tag</option>
                    <option value="weniger-als-0-5-stunden">Weniger als 0,5 Stunden pro Tag</option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= relationship_context %>
                <select name="relationship_context">
                    <option value="gesundheitsbewusster-partner">Mein Partner ist sehr gesundheitsbewusst und regelmäßig körperlich aktiv.</option>
                    <option value="mäßig-gesundheitsbewusster-partner">Mein Partner ist mäßig gesundheitsbewusst und gelegentlich körperlich aktiv.</option>
                    <option value="unterstützender-partner">Mein Partner unterstützt meine Bemühungen um einen gesunden Lebensstil.</option>
                    <option value="wenig-gesundheitsbewusster-partner">Mein Partner ist wenig gesundheitsbewusst und selten körperlich aktiv.</option>
                    <option value="überwiegend-inaktiver-partner">Mein Partner bevorzugt einen überwiegend inaktiven Lebensstil und zeigt wenig Interesse an gesundheitlichen Aspekten.</option>
                    <option value="kein-partner">Ich habe keinen Partner.</option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
            <p><%= pets %>
                <select name="pet_influence">
                    <option value="regelmäßige-bewegung">Ich habe ein Haustier, mit dem ich mich regelmäßig bewege/spazieren gehe.</option>
                    <option value="mehr-aktivität-im-alltag">Ich habe Haustiere, die mich zu mehr Aktivität im Alltag anregen.</option>
                    <option value="kein-einfluss">Ich habe Haustiere, die keine Auswirkungen auf meine körperliche Aktivität haben.</option>
                    <option value="keine-haustiere">Ich habe keine Haustiere.</option>
                    <!-- Weitere Optionen hier -->
                </select>
            </p>
        </div>
        <button type="submit">Daten absenden</button>
    </form>
    

    <!-- <div class="container mb-5">
        <div class="col-12">
          <button type="button" class="button" id="submit"><h4><strong>Absenden</strong></h4></button>
        </div>
    </div> -->

<%- include('footer') %>

</body>
</html>