<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('nav', navigation) %>
    <main class="container mt-5 pb-5 text-justify">
      <h1> <%- imprint.title %> </h1>
      <section>
        <%- imprint.text %>
      </section>
    </main>
    <%- include('footer') %>
  </body>
</html>
