

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <img src="pics/h3-logo.png" id="icon" alt="PepeHands">
        <a class="navbar-brand" href="http://app.localhost/donate"><b>HabitHub</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="/" id="nav-home"><%= homePageName %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="nav-about"><%= aboutPageName %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact.html" id="nav-contact"><%= contactPageName %></a>
                    </li>
                <li class="nav-item dropdown" id="lang-menu">
                    <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="pics/globus.png" id="globus" alt="Language Icon">
                        <span id="nav-language"><%= currentLanguage %></span>
                    </a>
                    <div class="dropdown-menu w-50" aria-labelledby="languageDropdown">
                        <% [languages.first, languages.second, languages.third].forEach(function(language) { %>
                            <a href="?lgn=<%= language.toLowerCase().substr(0, 2) %>" class="dropdown-item" onclick="changeLanguage('<%= language.toLowerCase().substr(0, 2) %>')"><%= language %></a>
                        <% }); %>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
