<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('header') %>
    <!-- <script src="js/thanks.js"></script> -->
</head>

<body>
    <%- include('nav', navigation) %>

    <div class="container d-flex justify-content-center mb-5"></div>

    <div class="container d-flex justify-content-center">
        <h4 id="slogan"><%= slogan || 'You brought YOUR habit on the way to be become a common good.' %></h4>
    </div>

    <div class="container d-flex justify-content-center" id="thanks">
        <h2 id="thanks_text"><%- thanks || '🎉 Thank you for YOUR donation and for YOUR contribution!' %></h2>
    </div>

    <div class="container">
        <!-- <button type="" id="donate_again" onclick="navigateHomePage('<%= navigation.languageCode %>')"><%= donate_again || 'Donate again!' %></button> -->
        <button type="" id="donate_again" onclick="location.href='/<%= navigation.languageCode %>/donate'"><%= donate_again || 'Donate again!' %></button>
    </div>

    <div class="container mb-5">
        <a href="/reward.html"><button type="" id="reward"><%= reward || 'Get your reward' %></button></a>
    </div>

    <%- include('footer') %>
</body>
</html>
